.btn {
    padding: .45rem 1.5rem .35rem;
  }
  
  .gradient-custom {
    background: #c471f5;
    background: -webkit-linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1));
    background: linear-gradient(to right, rgba(196, 113, 245, 1), rgba(250, 113, 205, 1))
  }